<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yunmayi.app.shoppingmall">

    <application>
        <activity android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />
        </activity>
    </application>

</manifest>